.todo-card {
  margin: 10px;
  padding: 15px 25px;
  border-radius: 15px;
  border: 2px solid black;
  font-size: 20px;
  position: relative;
  background-color: rgb(162, 209, 250);
}

.category {
  position: absolute;
  top: 7px;
  right: 46px;
  background-color: aliceblue;
  width: 110px;
  text-align: center;
  padding: 4px;
  border-radius: 10px;
  border: 1px solid black;
  color: inherit;
}

@keyframes delete-animation {
  0% {
    transform: rotate(-25deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(25deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-25deg);
  }
}

.delete-icon {
  position: absolute;
  top: 5px;
  right: 4px;
  font-size: 20px;
  width: 30px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, width 0.2s ease-in-out;
}

.delete-icon:hover {
  width: 31px;
  animation: delete-animation 0.5s infinite;
  transform: scale(1.05);
}
